*{
    background-color: honeydew;
   text-align: center;
font-style: oblique;
}
#action {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    box-shadow: 0px 0px 2px black;
    
}
#isosceles{
    width: 0%;
    border-right: 70px solid transparent;
    border-bottom: 100px solid blue;
    border-left: 70px solid transparent;
}
#scalene{
    width: 0%;
    border-right: 130px solid transparent;
    border-bottom: 120px solid rgb(26, 29, 1);
    border-left: 100px solid transparent;
}
#equilateral{
    width: 0%;
    border-right: 100px solid transparent;
    border-bottom: 100px solid rgb(24, 2, 9);
    border-left: 100px solid transparent;
}
a{
    box-shadow:black:
    border-radius: 0%;
}